@model IEnumerable<SpecialAttribute>


<h2>All Special Attributes</h2>

<div style="display: block">
    <a class="btn btn-outline-light" href="/SpecialAttribute/InsertSpecialAttribute/">Create a New Special Attribute</a>
</div>
<p></p>
<div id ="table-pages">
    <table class="table">
        <tr>
            
            <th>Special Attribute Name</th>
            <th>Update or Delete </th>

        </tr>

        @foreach (var specialAttribute in @Model)
        {
            <tr>
                
                <td>@specialAttribute.SpecialAttributeName</td>
                <td>
                    <a href="/SpecialAttribute/UpdateSpecialAttribute/@specialAttribute.SpecialAttributeID">
                        @specialAttribute.SpecialAttributeName
                    </a>
                </td>

            </tr>
        }

    </table>
</div>

