@model SpecialAttribute

<h2>Create a New Special Attribute</h2>

@using (Html.BeginForm("InsertNewSpecialAttributetoDatabase", "SpecialAttribute", "Post")) 
{
    <input asp-for="SpecialAttributeID" type="hidden" value="" />
    <input type="text" name="SpecialAttributeName" class="form-control" value="" />
    <p></p>

    <input type="submit" value="Create Special Attribute" class="btn btn-success" />
}
