@model SpecialAttribute

<div class="update-and-delete-forms">
    <h2>Special Attribute: @Model.SpecialAttributeName</h2>
</div>

@using (Html.BeginForm("UpdateSpecialAttributeToDatabase", "SpecialAttribute", "Post"))
{
    <input asp-for="SpecialAttributeID" type="hidden" value="@Model.SpecialAttributeID" />

    <input type="text" name="SpecialAttributeName" class="form-control" value="@Model.SpecialAttributeName" />
    <p> </p>
    
    <input type="submit" value="Update Special Attribute" class="btn btn-success" />
}



<div style="display: block" , align="right">

    @using (Html.BeginForm("DeleteSpecialAttribute", "SpecialAttribute", "Post"))

    {
        <input type="hidden" asp-for="SpecialAttributeName" value="@Model.SpecialAttributeName" />
        <input type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?')" value="Delete Special Attribute" />
    }

</div>









