@model IEnumerable<EventType>

<h2>All Event Types</h2>

<div style="display: block">
    <a href="/EventType/InsertEventType/">Create a New Event Type</a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>EventType Name</th>
    </tr>

    @foreach (var eventType in @Model)
    {
        <tr>
            <td>@eventType.EventTypeID</td>
            <td>@eventType.EventTypeName</td>
        </tr>
    }

</table>
