@model EventType

<h2>Create a New Event Type</h2>

@using (Html.BeginForm("InsertNewEventTypeToDatabase", "EventType", "Post")) 
{
    <input asp-for="EventTypeID" type="hidden" value="" />
    <input type="text" name="EventTypeName" class="form-control" value="" />
    <p></p>
    <input type="submit" value="Create Event Type" class="btn btn-success" />
}
