@model EventType

<h2>Update @Model.EventTypeName</h2>

@using (Html.BeginForm("UpdateEventTypeToDatabase", "EventType", "Post")) 
{
    <input asp-for="EventTypeID" type="hidden" value="@Model.EventTypeID" />

    <label asp-for="EventTypeName" class="control-label">Update Event Type Name</label>
    <input type="text" name="EventTypeName" class="form-control" value="@Model.EventTypeName" />


    <input type="submit" value="Update Event Type" class="btn btn-primary" />
}
