@model IEnumerable<Attendee>

<h2>All Attendees</h2>

<div style="display: block">
    <a class="btn btn-outline-light" href="/Attendee/InsertAttendee/">Create a New Attendee</a>
</div>
<p></p>
<div id="table-pages"> 
    <table class="table">
        <tr>
            <th>Attendee Name</th>
            <th>Update or Delete Attendee</th>
        </tr>

        @foreach (var attendee in @Model)
        {
            <tr>
                <td>@attendee.AttendeeName</td>
                <td><a href="/Attendee/UpdateAttendee/@attendee.AttendeeID"> @attendee.AttendeeName</a></td>
            </tr>
        }

    </table>

</div>
