@{
    ViewData["Title"] = "Home Page";
}



<div id="home-mbp" class="text-center">
        <h1 class="display-4">Welcome to Your Events</h1>
        <p>Keep track of all your events!</a></p>
    </div>
